@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var questions = ViewBag.Questions as List<Question>;
    var answers = ViewBag.Answers as List<Answer>;
    int index = 1;
}
@using Online_English_Quiz_Project.Models;
<div>
    <div>
        <p>
            @ViewBag.Quizid
        </p>
        <p>
            @ViewBag.QuizTitle
        </p>
    </div>
    <div>
        <form>
            @foreach (var question in questions)
            {
                <p>
                    Question @index: @question.QuestionText
                </p>
                index++;
                @foreach(var answer in answers)
                {
                    if (answer.QuestionId == question.QuestionId)
                    {
                        <input type="radio" id="@index" name="answer_@index" value="@answer.AnswerId">
                        <label for="@index">@answer.AnswerText</label><br />
                    }
                }
                <br />
            }
        </form>

    </div>
</div>
